.header{
    background: linear-gradient(#123616, #277B2F);
    width: 100%;
    min-height: 840px;
    background-image: url('png-fails/HeaderBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.round-rock--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 50px;
    gap:20px;
}
.round-rock-text {
    color: white;
    font-size: 60px;
    font-weight: 800;
    line-height: 71.10px;
}
.yard-maintenance-text {
    color: white;
    font-size: 27px;
    font-weight: 800;
    line-height: 31.99px;
    letter-spacing: 7.02px;
}
.lorem-ipsum-container {
    background: rgba(0, 0, 0, 0.50);
    border-radius: 59px;
    padding:19px 48px 18px 47px;
}
.lorem-ipsum--text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
}
.lorem-ipsum--big h1 {
    text-align: center;
    color: white;
    font-size: 144px;
    font-weight: 900;
    line-height: 134.50px;
    word-wrap: break-word;
    padding-top: 17px;
    padding-bottom: 100px;
}
.help--me{
    text-align: center;
    width: 180px;
    height: 70px;
    flex-shrink: 0;
    padding:21px 53px 22px 53px;
    color: #48924F;
    font-size: 18px;
    font-weight: 700;
    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 16px 30px 0px rgba(50, 175, 100, 0.15);
}
.services-wrapper {
    position: relative;
    display:flex;
    padding-top: 70px;
    padding-bottom: 50px;
}
.section-headline h1{
    color: var(--Gray-3, #828282);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}   
.services-logo{
    position:absolute;
    left:-4px;
    top:118px;
    flex-shrink: 0;
}
.services-content-wrapper{
    display:flex;
    flex-direction: column;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(16, 51, 30, 0.10);
    margin-bottom: 71px;
}
.services-title{
    padding: 30px 30px 10px 30px;
    color: #0D4D14;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
}
.services-text{
    width: 325px;
    padding:10px 30px 30px 30px;
    color: #0D4D14;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.about-us--wrapper{
    position: relative;
    display:flex;
    padding-top: 70px;
    padding-bottom: 50px;
}
.about-us--logo{
    position: absolute;
    right: -50px;
    bottom: -5px;
    transform: rotate(-3.6deg);
    flex-shrink: 0;
}
.about-us--background{
    background-image: url('png-fails/AboutUsBackground.png');
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url('png-fails/AboutUsBackground.png'), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 732px;
    padding-bottom: 50px;
}
.about-us--text{
    width: 360px;
    padding: 154px 60px 50px 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.testymonials-placement{
    padding-top: 70px;
}
.testymonials-display--wrapper{
    padding-top: 70px;
    padding-bottom: 50px;
}
.testymonials-box{
    min-height: 233px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid #6CB981;
    background: #FFF;
}
.testymonials-photo{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 14px;
}
.testymonials-content--box{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 13px;
}
.test-wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 14px;
}
.testymonials-name{
    padding-top: 30px;
    color: #6CB981;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.testymonials-text{
    width: 423px;
    color: #0D4C14;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.testymonials-stars--container{
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 114px;
    height: 18px;
    flex-shrink: 0;
}
.contact-us--position{
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact-us{
    width: 100%;
    min-height: 532px;
    flex-shrink: 0;
    background: #FCFCFC;
}
.contact-us--wrapper{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:100px;
    padding-bottom: 50px;
}
.contact-us--leftside{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 70px;
    justify-content: space-between;
}
.greenbox{
    width: 374px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 61px;
    background: #9FDEA9;
}
.emptybox{
    width: 168px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 61px;
    border: 3px solid #4DB96B;
    align-self: center;
}
.contact-us--rightside{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-top: 100px;
}
.email-wrapper,
.number-wrapper,
.address-wrapper{
    display:flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
}
.address,
.number,
.email{
    color: var(--Gray-1, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer{
    width: 100%;
    height: 145px;
    flex-shrink: 0;
    background: #324B29;
}
